<center>

  <h3> My Diary </h3>
  <h4>  Date: <%= Time.now %> </h4> 

    <% @entries.each do |entry| %>
      <li class="entry" id="entry-<%= entry.id %>">
          <%= entry.entry %>
          <form action="/entries/<%= entry.id %>" method="post">
            <input type='hidden' name='_method' value='DELETE'/>
            <input type="submit" value="Delete" />
          </form>
      </li>
    <% end %>
</center>
