<center>
  <form method="post" action="/entries">
    <label for="new_entry"> Type a new diary entry here </label>
      <input id="new_entry" type="text" name="entry" />
    <input type="submit" value="Submit" />
</center>
